/* tabs structure */
.tab-container	{
	width:100%;
	background:#7fc7ec;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
ul.tabs			{
	list-style-type:none;
	padding:0;
	margin:0;
}
ul.tabs li {
	float:left;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
ul.tabs li a {
	font-weight:normal;
	color:#FFFFFF;
	text-decoration:none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #ddd;
	border-right-color: #ddd;
	border-left-color: #ddd;
}
ul.tabs li a.active	{
	height:inherit;
	font-weight:bold;
	border-color:#40708c;
	background-color: #C8E7F7;
/*	background-position:0px 0px;*/
	color:#FFFFFF;
}
ul.tabs li a.active:hover	{ text-decoration:none; cursor:default; }
ul.tabs li:hover	{ text-decoration:underline; background:#40708c; }
ul.tabs-content	{ margin:0 0 0 0; padding:0; }
ul.tabs-content li	{ height:0; overflow:hidden; margin:0; padding:0; }

/* ie fixes */
* html ul.tabs-content li { float:left; } /* ie6 */
*+ html ul.tabs-content li { width:99%; float:left; } /* ie7 */
.clear { clear:both; }